
<%= simple_form_for [@meal, @booking] do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation text-center">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date, type: "text", input_html: { class: 'datepicker' } %>
  <%= f.input :number_customers, collection: Booking::NOCUSTOMERS %>
  <%= f.submit "Book Now!", class: "btn-red" %>
<% end %>




