<div class="banner-backgroundonly", style="background-color: linear-gradient(100deg, rgba(257,257,257,0.1) 20%, rgba(0,0,0,0.9) 50%))" >
  <div class="dash-banner ">
    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6 text-center">
          <h1 class="thin-title">My bookings as a <span>Host</span><h1>
          <!-- <div class="img-container"> -->
            <%= image_tag("meal.png", id: "customer", class: "img-dash")  %>
          <!-- </div> -->
        </div>

        <div class="col-xs-12 col-sm-6 text-center">
          <h1 class="thin-title">My bookings as a <span>Chef</span><h1>
          <!-- <div class="img-container"> -->
            <%= image_tag("chef.png", id: "chief", class: "img-dash")%>
          <!-- </div> -->
        </div>

      </div>

    </div>
  </div>
</div>

<div class="chief-dash invisible">
  <div class="container">
    <div class="row">
      <div class="booking-content">
        <div class=" col-xs-12">
          <h2>I will cook for...</h2>
          <table class = "table">
          <thead>
            <tr>
              <th>Host</th>
              <th>Email</th>
              <th>Meal</th>
              <th>Guests #</th>
              <th>Date</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody >
            <% @booked.each do |booking| %>
              <tr>
                <td class="hand-font bold"><%= booking.user.first_name + " " + booking.user.last_name %></td>
                <td><%= booking.user.email %></td>
                <td><%= booking.meal.name %></td>
                <td><%= booking.number_customers %></td>
                <td><%= booking.date %></td>
                <td>
                  <% if booking.status != "Confirmed" %>
                    <span><%= "Pending" %></span>
                  <% else %>
                    <span class="red-text"><%= "Confirmed" %></span>
                  <% end %>
                </td>

                <td><%= link_to 'Cancel', meal_booking_path(@user, booking),class: "btn-transparent", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Validate', confirm_path(booking), method: :post, class: "btn btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Back to meals',  meals_path, :class => "btn btn-primary "%>
        <%= link_to 'Back to dashboard',  user_path(current_user), :class => "btn btn-transparent-red "%>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="customer-dash invisible">
  <div class="container">
    <div class="row">
      <div class="booking-content">
        <div class="col-xs-12">
          <h2>I will eat with...</h2>
          <table class = "table">
          <thead>
            <tr>
              <th>Chef</th>
              <th>Email</th>
              <th>Meal</th>
              <th>Guests #</th>
              <th>Date</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody >
            <% @bookings.each do |booking| %>
              <tr>
                <td class="hand-font bold"><%= booking.meal.user.first_name + " " + booking.meal.user.last_name %></td>
                <td><%= booking.meal.user.email %></td>
                <td><%= booking.meal.name %></td>
                <td><%= booking.number_customers %></td>
                <td><%= booking.date %></td>
                 <td>
                  <% if booking.status != "Confirmed" %>
                    <span><%= "Pending" %></span>
                  <% elsif booking.status == "Passed"%>
                    <span class="green-text"><%= "Passed" %></span>
                  <% else %>
                    <span class="red-text"><%= "Confirmed" %></span>
                  <% end %>
                </td>
                <td><%= link_to 'Cancel', meal_booking_path(@user, booking),class: "btn btn-transparent", method: :delete, data: { confirm: 'Do you really want to cancel the booking ?' } %></td>
               <!--  -->
              </tr>

            <% end %>
          </tbody>
        </table>
          <%= link_to 'Back to meals',  meals_path, :class => "btn btn-primary "%>
          <%= link_to 'Back to dashboard',  user_path(current_user), :class => "btn btn-transparent-red "%>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
