<div class="card-show"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @meal.photo.path, gravity: :south, height: 720, width: 1200, crop: :fill %>')">
  <div class="container">

    <h1><b><%= @meal.name %></b></h1>
    <h2>Category: <%= @meal.food_type %></h2>
    <h2>Price: <strong><%= @meal.price %> €</strong></h2>

    <div class="row">
      <div class="col-xs-12">

        <h3><%= @meal.description %></h3>
        <br><br>
      </div>
    </div>

    <br>

    <%= link_to 'Back to the list of meals', meals_path, class: "btn-red" %>

  </div>
</div>
